@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #1d3557;
    --background: #fbf9f1;
    --border-hr: #e5e1da;
    --link-hover: #e63946;
  }

  .dark {
    --foreground: #e0fbfc;
    --background: #293241;
    --border-hr: #233f4a;
    --link-hover: #ee6c4d;
  }
}

a {
  transition: color 150ms;

  &:hover {
    color: var(--link-hover);
    transition: color 150ms;
  }
}

time {
  font-style: italic;
  font-size: 0.75rem;
}

p code {
  border-radius: 2px;
  padding: 0.2rem 0rem;
  font-size: 0.9rem;
  font-weight: bold;
  /* background-color: var(--border-hr) */
}

html {
  color: var(--foreground);
  background-color: var(--background);
  border: var(--border-hr);
}
