:root {
  color-scheme: light;
  --foreground: #1d3557;
  --background: #fbf9f1;
  --code-copy-button: #fbf9f1;
  --border-hr: #e5e1da;
  --link-hover: #e63946;
  --text-xs: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}

/* Catppuccin Mocha */
:root[data-theme="dark"] {
  --foreground: #cdd6f4;
  --background: #1e1e2e;
  --code-copy-button: #fbf9f1;
  --border-hr: #363a4f;
  --link-hover: #f0c6c6;

  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
  margin-top: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

hr {
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: var(--border-hr);
}

a {
  transition: color 150ms;

  &:hover {
    color: var(--link-hover);
    transition: color 150ms;
  }
}

p + p {
  margin-top: 1rem;
}

h4 + h2 {
  margin-top: 2rem;
}

p + h2,
h4 + p {
  margin-top: 1rem;
}

li {
  margin-bottom: 0.6rem;
}

time {
  font-style: italic;
  font-size: 0.75rem;
}

em {
  font-family: var(--font-dank-mono-ital);
}

.postDate {
  font-size: 0.75rem;
}

p {
  font-size: var(--text-sm);
}

html {
  color: var(--foreground);
  background-color: var(--background);
  border: var(--border-hr);
}

body {
  padding: 0 1rem;
  font-style: regular;
}
