.pageGrid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.leftSpacerGrid {
  visibility: hidden;
}

.mainContentContainer {
  max-width: 700px;
  padding: 0 1rem;
  grid-row-start: 2;
}

.tagListContainer {
  text-align: right;
  grid-row-start: 1;
}

.themeToggleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 1rem;
}

/* sm */
@media (min-width: 640px) {
  .pageGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .mainContentContainer {
    grid-row-start: 1;
    grid-column: span 4 / span 4;
  }

  .tagListContainer {
    display: grid;
    grid-column: span 1 / span 1;
    text-align: right;
  }

  .themeToggleContainer {
    align-items: flex-end;
  }
}

/* md */
@media (min-width: 890px) {
  .pageGrid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .mainContentContainer {
    margin: 0 auto;
    padding: 0 2rem;
    grid-column: span 5 / span 5;
  }

  .tagListContainer {
    grid-column: span 1 / span 1;
  }
}

/* lg */
@media (min-width: 1200px) {
  .pageGrid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .leftSpacerGrid {
    grid-column: span 1 / span 1;
    grid-column-start: 1;
    visibility: visible;
  }

  .mainContentContainer {
    grid-column: span 4 / span 4;
    grid-column-start: 3;
    padding: 0;
  }

  .tagListContainer {
    grid-column-start: 8;
  }
}

@media (min-width: 1400px) {
  .mainContentContainer {
    padding: 0;
    grid-column-start: 3;
  }
}
