.post {
  margin-top: 1.4rem;
}

.post h2 {
margin-top: 2rem;
}

.post p {
  margin-bottom: 1.2rem;
}

.post ul {
  list-style-type: '- ';
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.post ol {
  list-style: auto;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.post blockquote {
  margin: 1.6rem 0rem;
  padding-left: 1rem;
  border-left: 10px ridge var(--link-hover);
}

.post a {
  font-weight: bold;
}

.post hr {
  margin: 2rem 0;
}

.post p code {
  border-radius: 20px;
  padding: 0rem 0rem;
  font-size: 0.9rem;
}
.post figure + p {
  margin-bottom: 0px !important;
}


/* Inline code */
.post p span>code,
.post li span>code {
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
  font-size: 0.9rem;
  background-color: #263238 !important;
}

.post p span>code span,
.post li span>code span {
  font-style: normal !important;
}

.post pre {
  overflow-x: auto;
  padding: 0;
  border-radius: 6px;
}

.post pre [data-line] {
  padding: 1.2rem 0.75rem;
}

.post pre > code[data-language="text"] {
  padding: 0
}

.post pre > code > span[data-line] {
  padding: 0;
}

.post figure > pre > code > pre > code {
  padding: 1rem;
  min-width: 100% !important;
  width: max-content !important;
}

.post figure > pre > code > pre > code[data-language="text"] {
  padding: 1rem;
  width: min-content !important;
}

.post h4 code {
  padding: 0.2rem 0.5rem;
  border-radius: 6px
}

.post figure {
  margin: 0.6rem 0 1.8rem;
}

/* Comment section */
.commentHr {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
