.allPostsList {
  .listPostTags {
    margin-right: 0.5rem;
    font-size: var(--text-xs);
  }
}

.allPostsList h1 {
  font-size: var(--text-lg);
  margin-bottom: 0;
}

.allPostsList p {
  margin: 0.6rem 0;
}

.allPostsList hr {
  margin: 1.25rem 0;
  border-color: var(--border-hr);
}

.listPostTags a::before {
  content: '#';
}
