/* .tagListContainer { */
/*   text-align: right; */
/*   grid-row-start: 1; */
/* } */

.tagListUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-bottom: 2rem;
  padding: 0rem 1rem;

  & a::before {
    content: '#';
  }

  @media (min-width: 640px) {
    display: block;
    margin-bottom: 1rem;
    padding: 0rem 0rem;

    & a::before {
      content: '';
    }
  }
}
